In [3]:
import re

In [47]:
txt = "The rain in Spain"
x = re.findall(r"\b\w", txt)
print(x)

['T', 'r', 'i', 'S']

In [65]:
text = "12,345,678,901"

match = re.search(r"\d{1,3},(\d{3},)*\d{3}", text)
print(match.group(0))

12,345,678,901

In [69]:
text = "#covid #machine-learning #1123ACB"
Pattern_hashtag =r"#[\w-]*"
match = re.findall(Pattern_hashtag, text)
print(match)

['#covid', '#machine-learning', '#1123ACB']

In [72]:
text = "AA9A 9AA  A9A 9AA 	A9 9AA 	A99 9AA 	AA9 9AA  AA99 9AA"
Pattern_postcode =r"[A-Z]{1,2}\d{1,2}[A-Z]?\s\d{1}[A-Z]{2}"
match = re.findall(Pattern_postcode, text)
print(match)

['AA9A 9AA', 'A9A 9AA', 'A9 9AA', 'A99 9AA', 'AA9 9AA', 'AA99 9AA']

In [153]:
text = "023 80591234 or 02380 590000 or # +44 (0) 23 80594479 or # +44 (23) 8059 5000 or # 07722 175921. 13897252776\n covid19 +44 (113) 222 3400\n"
# Pattern_number =r"\b(?:\+44\s?\(0?\d{2,4}\)\s?|\b0\d{2,4}\b)\s\d{3,4}\s\d{3,4}\b"
Pattern_number =r"(?:(?:\+44\s(?:\(0\)|\(\d+\))\s)\d+\s\d+)|(?:0\d+\s\d+(?:\s\d+)?)"
match = re.findall(Pattern_number, text)
print(match)

['023 80591234', '02380 590000', '+44 (0) 23 80594479', '+44 (23) 8059 5000', '07722 175921', '+44 (113) 222 3400']

In [99]:
text = "# http://google.com/ or https://a.b.net/c/d/e.php#fragment."
Pattern_URLs =r"https?:\/\/[a-zA-Z0-9.-/#]+"
match = re.findall(Pattern_URLs, text)
print(match)

['http://google.com/', 'https://a.b.net/c/d/e.php#fragment.']

In [1]:
text = "j.williams@soton.ac.uk"
Pattern_email =r"([a-zA-Z0-9.]+)@([a-zA-Z.-]+\.[a-zA-Z]{2,})"
match = re.finditer(Pattern_email, text)
for m in match:
    print(m.group(0))
    print(m.group(1))
    print(m.group(2))

NameError: name 're' is not defined

In [56]:
text = "07:30 am 12:59PM 10:15 pm  不会匹配 25:30 PM（无效时间） 3:45 PM（缺少前导零）09:17pm 12:45 AM 23:59PM（⚠️ 但是 24 小时制下 23:59PM 不是标准格式） 存在的问题 27:30 PM（27 不是有效小时） 00:15 am（00 在 12 小时制不常见，通常写 12:15 AM）3:45pm（不匹配，因为小时部分必须是两位数）1004am"
Pattern_time = r"(?:0[0-9]|1[0-9]|2[0-4]|(?<=\D)[0-9]):[0-5][0-9]\s?[pPaA][mM]"
match = re.findall(Pattern_time, text)
print(match)

['07:30 am', '12:59PM', '10:15 pm', '3:45 PM', '09:17pm', '12:45 AM', '23:59PM', '23:59PM', '00:15 am', '12:15 AM', '3:45pm', '10:04am']

In [22]:
text = "Numbers: -12  47.2  74,832,101 56%"
Pattern_Number = r"\-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?"               # numbers: -12 47.2
match = re.findall(Pattern_Number, text)
print(match)

['-12', '47.2', '74,832,101', '56']

In [27]:
text ="The project cost £27.8m.  Apple's market value reached $2.5B last year.  A house in London costs around £750,000.  The startup raised €3.2bn in funding.  She bought a car for ¥2,000,000.  he company made a profit of $500K in Q1.  You can get a decent laptop for about $1,200.  His salary is ¥75,000 per month.  Bitcoin price surged to $0.25 today.  The budget for education was increased by €10M.  spent only £5 on lunch today.  A new phone costs around $899.99.  The total expenses this year were €4,300,000.  They invested £1.5bn in infrastructure.  "
Pattern_money =r"[£$€¥]\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?[mbMBKk]?[bn]?"
match = re.findall(Pattern_money, text)
print(match)

['£27.8m', '$2.5B', '£750,000', '€3.2bn', '¥2,000,000', '$500K', '$1,200', '¥75,000', '$0.25', '€10M', '£5', '$899.99', '€4,300,000', '£1.5bn']

In [55]:
import nltk

text = "Although the death rate from Covid-19 in the UK has fallen from its peak, there continue to be hundreds of deaths from the virus every week. The victims are young and old, and include people with underlying medical conditions and others without. Here are the stories of six people who died of the coronavirus in June, including frontline healthcare workers, a taxi driver and an 11-year-old child. "
pattern = r'''(?x)			# set flag to allow verbose regexps
	 (?:0[0-9]|1[0-9]|2[0-4]|(?<=\D)[0-9]):[0-5][0-9]\s?[pPaA][mM]    # Time
	 | [£$€¥]\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?[mbMBKk]?[bn]?     # Money
	 | \-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?[mbMBKk]?[bn]?(?:cm|mm|m|km|in|ft|yd|mi)   # Length
	 | (?:(?:\+44\s?(?:\(0\)|\(\d+\))\s?)\d+\s\d+(?:\s\d+)?)|(?:0\d+\s\d+(?:\s\d+)?)    # Phone
	 | \d+-year-old|\d+\s(?:years old|yrs old|y/o)   # Age
	 | \-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?\s?%      # Percentage
	 | \-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?\s?°?[CFK]    # Temperature
	 | \d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?(?:st|nd|rd|th)      # Ordinals
	 | \-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?      # numbers: -12 47.2 74,832,101
	 '''
tokens=nltk.regexp_tokenize(text, pattern)
print(tokens)

['-19', '11-year-old']

In [29]:
text = "The inflation rate rose by 14.4%. The discount is 10 %. The company reported -5% growth this year. A new study shows that 99.99% of participants agreed. The interest rate is 1,200.75%. He scored -0.5% on the test. The success rate was 85%. Only 0.01% of cases were reported. The company's profit increased by -12.3% in Q4."
Pattern_Percentage = r"\-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?\s?%"
match = re.findall(Pattern_Percentage, text)
print(match)

['14.4%', '10 %', '-5%', '99.99%', '1,200.75%', '-0.5%', '85%', '0.01%', '-12.3%']

In [30]:
text = "The temperature today is 28C. In some regions, it drops to -10°F at night. Water boils at 100°C and freezes at 0°C. Scientists often use 273.15K as the standard temperature. The desert can reach 50C during the day. The experiment was conducted at 100.5 K. Yesterday it was -5°F, but today it's 10C."
Pattern_Temperture = r"\-?\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?\s?°?[CFK]"
match = re.findall(Pattern_Temperture, text)
print(match)

['28C', '-10°F', '100°C', '0°C', '273.15K', '50C', '100.5 K', '-5°F', '10C']

In [33]:
text = "He finished in 1st place. The 2nd runner-up received a prize. She ranked 3rd in the competition. It was the 4th time he won. The team secured the 22nd position. He was in 48th place out of 100. The 100th customer received a discount.18,333,444,555,666,777th"
Pattern_Ordinals = r"\d+(?:,?(?:\d{3},)*\d{3})?(?:\.\d+)?(?:st|nd|rd|th)"
match = re.findall(Pattern_Ordinals, text)
print(match)

['1st', '2nd', '3rd', '4th', '22nd', '48th', '100th', '18,333,444,555,666,777th']